.book-head{
    margin-top: 18vh;
    margin-left: 3rem;
}

.buy{
    width: 90%;
    margin-left: 3rem;
    padding-bottom: 5rem;
    margin-top: -7vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.number{
    width: 5%;
    height: 5vh;
    margin-right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(219, 219, 219);
    color: goldenrod;
    font-size: x-large;
    font-weight: 800;
}

.form-style{
    margin-left: 1.5rem;
}

a:hover{
    text-decoration: underline;
}