body {
    display: flex;
    flex-direction: column;
}


.nav-link:hover {
    text-decoration: underline;
    color: black;
}

.header {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border: none;
}

.w-70 {
    width: 70%;
    height: auto;
    border: none;
}

img {
    border: none;
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

@media screen and (max-width: 980px) {
    .w-70 {
        width: 100%;
        height: 100vh;
    }

    .carde {
        width: 100%;
        height: 100vh;
    }
}

.bg-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.logo-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
}

.amen {
    width: 100%;
    height: max-content;
}

.res-row {
    flex-direction: row;
}

@media screen and (max-width: 980px) {
    .res-row {
        flex-direction: column;
    }
}

#carouselExampleCaptions {
    height: max-content;
}

.card-bodyy {
    height: 520px;
}

#amen {
    padding-bottom: 20vh;
}

.card-amen {
    width: 33.33%;
    height: 30rem;

    background-color: black;
}

.amen-logo {
    font-size: 5vw;
    padding: 1rem;
}

.card-bodyy {
    height: 420px;
    text-align: center;
    padding: 1rem;
}

#history {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 20vh;
    padding-bottom: 20vh;
}

.card-bodyyyy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    text-align: center;
}

.history-container {
    width: 100%;
    height: 100vh;

    background-color: black;
}

#Location {

    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 20vh;
    padding-bottom: 20vh;
}

.foot-col{
    color: black;
}