@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Darker+Grotesque:wght@500&family=Raleway:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#outerContainer {
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
}


/*first container*/
#innerContainer1 {
    width: 100%;
    height: 75vh;
    background-image: url(pictures/room.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;

}

#innerContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    color: black;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    animation: wordAnim 1.4s linear;
}

a:hover{
    text-decoration: underline;
}

@keyframes wordAnim {
    0% {
        opacity: 0;
        transform: translateY(-5%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*second container*/
#innerContainer2 {
    height: 600px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxDecor {
    height: max-content;
    width: 100%;
    border-style: solid;
    border-color: gold;
    border-width: 1.5px;
    display: flex;
    flex-direction: colFmn;
    align-items: center;
}

#desc2 {
    font-size: 35px;
    color: gold;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#desc3 {
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1rem;
    line-height: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*third container*/
#innerContainer3 {
    height: 2500px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picDiv {
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 75%;
    margin-top: 100px;
    align-items: center;
}

.picDiv2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    width: 75%;
    height: 450px;
}

.pics1 {
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
}

.roomDesc1 {
    height: max-content;
    padding: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(231, 187, 77);
    box-shadow: 1.5px 1.25px 1.25px black;
}

.roomName {
    font-size: 33px;
    font-family: 'Darker Grotesque', sans-serif;
    color: #6E1D14;
}

.roomStuff {
    font-size: 0.7rem;
    line-height: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#villaDesc{
    margin-top: 25rem;
}

#room2{
    background-image: url(pictures/room2.jpg);
}
#room3{
    background-image: url(pictures/room3.png);
}
#room4{
    background-image: url(pictures/room4.png);
}

#room5{
    background-image: url(pictures/room5.png);
    background-size: 100% 100%;
}

@media screen and (max-width: 980px) {
    #innerContainer1 {
        flex-direction: column;
    }

    #desc3 {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 680px) {
    #innerContainer1 {
        flex-direction: column;
    }

    #desc3 {
        font-size: 2vw;
    }
}

@media screen and (max-width: 680px) {
    #innerContainer1 {
        flex-direction: column;
    }

    #desc3 {
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 580px) {
    #innerContainer1 {
        flex-direction: column;
    }

    #desc3 {
        font-size: 2vw;
    }
}